/* Center the table */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
	flex-direction: column;
	background: #23242a;
}

table {
	margin: 0 auto;
}

fieldset {
	padding: 20px;
	background-color: #23242a;
	border: 2px solid skyblue;
}

legend {
  
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
	color: #3efaf7;
}

td a {
	padding: 10px;
	color: red;
	text-decoration: none;
}

td a:hover {
	color: #00FFFF;
	text-decoration: underline;
}

label {
	font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
	width: 200px;
	padding: 5px;
	border: 1px solid skyblue;
	/* Add your desired text color here */
}

/* Style the "Sign In" button */
input[type="submit"] {
	border: none;
	outline: none;
	padding: 11px 25px;
	background: #40E0D0;
	cursor: pointer;
	border-radius: 4px;
	font-weight: 600;
	width: 100px;
	margin-top: 10px;
}

input[type="submit"]:hover {
	background-color: cyan;
}

/* Style error and success messages */
.msg {
	color: red;
	font-weight: bold;
	margin-bottom: 10px;
}

.success-msg {
	color: cyan;
	font-weight: bold;
	margin-bottom: 10px;
}


